@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@font-face{
    font-family: "DMSerif";
    src: url(./fonts/DMSerifText-Regular.ttf);
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "DMSerif", "Segoe UI";
    /* background: url(./img/bg.jpg) center/cover; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    min-height: 100vh;
    background-color: #ffffff;

}

header{
    text-align:center;
    margin-bottom: 3rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration:none;
 
}

nav li {
    list-style: none;
    /* background-color: rgb(248, 246, 242); */
    height: 30px;
    min-width: 70px;
    text-align: center;
    /* border: 2px solid rgba(240, 216, 164, 0.993); */
    border-radius: 10px;

}

a, u {
    text-decoration: none;
color: rgba(124, 59, 3, 0.685);


}

section{
    min-height: 800px;
    min-width: 90%;
    background-color: rgba(247, 247, 244, 0.973);
    margin: 20px auto;
    border: 2px solid rgb(255, 60, 0);
    border-radius: 20px;
    box-shadow: 0 0 20px #00000069;
    /* padding: 15px; */
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}



.container{
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.equipes {
    display: table;  
}


.equipes, .photos{
    width: 100%;
    display:table;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

.photos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin:auto;
    padding: auto;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 30px;
    text-align: center;
    font-size: 2.5 rem;
    text-shadow: 3px 3px 8px hwb(55 0% 95% / 0.281);
    color: rgba(124, 59, 3, 0.685);
    font-family: "Oswald", sans-serif, "Segoe UI";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 30px 10px 20px 10px;
        
}

h2{
     margin: 1.6rem; 
    color: rgba(124, 59, 3, 0.685);
    letter-spacing: normal;
    padding: auto;
}

h3 {
    margin: 0;
    color: rgba(248, 37, 10, 0.918);
    letter-spacing: 3px;
}

.logo img{
border-radius: 50%;
height: 100px;
width: 50%;

}

.logo {
    margin: auto;
    padding: 2%;
    text-align:center;
    background-color: rgb(241, 241, 229);
    border-radius: 50%;
    
}

p{
    margin:auto;
    padding: 2%;
}

.card{
    border-radius: 10px;
    background-color: rgb(245, 243, 235);
    /* overflow: hidden; */
    text-align: center;
    margin: 4px;
    box-shadow: 0 0 15px rgba(230, 188, 152, 0.685);
    display: column;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-10px) scale(1.05);
}

img{
    height: 350px;
    width: 300px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    justify-content:space-around;
    display: block;
    
}

.volaille{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.video{
    margin-right: 3%;
}


/*gibier*/

.gibier{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.video{
    margin-right: 3%;
}

/**Fruits*/

.fruitis{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.video{
    margin-right: 3%;
}

/*Petit Dej*/

.petit-dej{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.video{
    margin-right: 3%;
}

/*poissons*/
.poisson{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.video{
    margin-right: 3%;
}






.extrait{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    margin: 8px;
}

.video-petit-dej{
    display: flex;
    flex-flow:column nowrap; 
    justify-content: space-around;
}

